/* Resetar o css no browser */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* Centralizar o card na página */
body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estrutura do card */
.produto-card {
  width: 300px;
  background-color: #ffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}

/* Imagem do produto */
.produto-imagem {
  height: 100%;
  overflow: hidden;
}

/* Ajustando a imagem */
.produto-imagem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

/* Informações */
.produto-info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Titulo e descrição */
.produto-titulo {
  font-size: 1.5rem;
}

.produto-descricao {
  font-size: 1rem;
  columns: #555;
}

/* Preço */
.produto-preco {
  font-size: 1.4rem;
  font-weight: bold;
  color: #060606;
}

/* Botão */
.produto-button {
  margin-top: 8px;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #cccbcb;
  color: #000;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* Alterações ao passar o mouse por cima */
.produto-button:hover {
  background-color: #3483fa;
  border-color: transparent;
  color: #fff;
}
