/* Resete do browser */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Centralizando todo o conteúdo da página ao centro. */
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  font-family: Arial, Helvetica, sans-serif;
}

/* Estrutura card */
.perfil-card {
  width: 280px;
  background-color: #ffff;
  padding: 24px;
  border-radius: 16px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

/* Foto perfil*/
.perfil-avatar {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 16px;
}

/* Nome e Cargo */
.perfil-nome {
  font-size: 1.4rem;
  margin-bottom: 8px;
}

.perfil-role {
  font-size: 1rem;
  color: #666;
  margin-bottom: 16px;
}

/* Links sociais */
.perfil-links {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.perfil-links a {
  text-decoration: none;
  font-size: 1rem;
  color: #111;
  border: 1px solid #ddd;
  padding: 6px 12px;
  border-radius: 8px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.perfil-links a:hover {
  background-color: #111;
  color: #fff;
}
